In [16]:
import seaborn as sns
import pandas as pd
import numpy as np

In [26]:
df = sns.load_dataset("taxis")

In [5]:
df["payment"].drop_duplicates()

0    credit card
1           cash
7            NaN
Name: payment, dtype: object

## Groupby operations

In [8]:
total_credit_card = 0 
total_cash = 0 
total_nan = 0
n_credit_card = 0
n_cash = 0
n_nans = 0
for payment_type, price in df[["payment","total"]].values:
    if payment_type=="credit card": 
        total_credit_card+=price
        n_credit_card+=1
    elif payment_type=="cash": 
        total_cash+=price
        n_cash+=1
    else: 
        total_nan+=price
        n_nans+=1
print("average credit card: ", total_credit_card/n_credit_card)
print("average cash: ", total_cash/n_cash)
print("average nan: ", total_nan/n_nans)

average credit card:  20.07124754205861
average cash:  14.676848785871526
average nan:  15.100454545454534

In [10]:
df["payment"] = df["payment"].fillna("nan")
df.groupby("payment")["total"].mean()

payment
cash           14.676849
credit card    20.071248
nan            15.100455
Name: total, dtype: float64

## Merge dataframes

In [17]:
df_areas = df[["pickup_zone"]].drop_duplicates()
df_areas["latitude"] = np.random.rand(len(df_areas))
df_areas["longitude"] = np.random.rand(len(df_areas))

In [24]:
latitude_dictionary = dict(df_areas[["pickup_zone","latitude"]].values)
df["latitude"] = df["pickup_zone"].map(latitude_dictionary)

In [27]:
pd.merge(df, df_areas, on = "pickup_zone")

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,latitude,longitude
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,0.583646,0.936354
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,0.348092,0.183918
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,0.479235,0.701513
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,0.866773,0.183137
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,0.241104,0.219614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,0.240869,0.913800
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,0.348689,0.751823
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,0.194659,0.211317
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,0.359556,0.742594
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,0.153336,0.637195